<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
    {{>navbar}}

    <!-- Main header  -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto" style="display: flex;">
          <!-- Left side div -->
          <div class="col-md-6 col-12 main_header_right">
            <figure>
                <img src="Images/about.jpg" alt="Mohit" class="img-fluid">
            </figure>
          </div>
          <div class="row">
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h2>Get The Letest <span class="text_clr">Weather</span> Info Of Your City</h2>
              <a href="/weather"><button>Check now</button></a>
            </div>
            
          <!-- Right side div -->
          
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  {{>footer}}
</body>
</html>